[ req ]
default_bits = 4096
default_keyfile = CA.key
distinguished_name = ca_distinguished_name
x509_extensions = v3_ca
prompt = no

[ ca_distinguished_name ]
C = US
ST = California
L = Mountain View
O = Mozilla Corporation
OU = EV Testing
CN = EV Test Root

[ v3_ca ]
basicConstraints = critical,CA:true
keyUsage = critical,cRLSign,keyCertSign
