{{define "title"}}EV Certificate Readiness Tool{{end}}

{{define "evready"}}
<!doctype html>
<html lang="en">
    <head>
        <meta charset="utf-8">
        <title>{{template "title" .}} EV Certificate Readiness Tool</title>
         <!-- Link to the CSS stylesheet and favicon -->
        <link rel="stylesheet" href="/static/css/main.css">
        <link rel="shortcut icon" href="/static/img/favicon.ico" type="image/x-icon">
        <!-- Also link to some fonts hosted by Google -->
        <link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Ubuntu+Mono:400,700">
    </head>
    <body>
        <header>
            <h1><a href="/">EV Certificate Readiness Tool</a></h1>
        </header>
        <main>
            <form action="/evready" method="POST" enctype="multipart/form-data">
                <div>
                    <label>Hostname (TLS Server):</label>
                    <input type="text" name="hostname" placeholder="eg. bugzilla.org">
                </div>
                <div>
                    <label>EV Policy OID:</label>
                    <input type="text" name="oid" placeholder="eg. 2.23.140.1.1">
                </div>
                <div>
                    <label>Root Certificate PEM:</label>
                    <div>
                        <input type="file" value="Browse..." name="rootCertUpload" />
                    </div>
                    <textarea name="rootCertificate" placeholder="Browse to load PEM file or paste it in here"></textarea>
                </div>
                <div>
                    <input type="submit" value="Check EV cert">
                </div>
            </form>
            &#10;
            <p name="result" />
            &#10;
            <p>Documentation: <a href="https://wiki.mozilla.org/PSM:EV_Testing_Easy_Version">Wiki - PSM:EV_Testing_Easy_Version</a></p>
        </main>
    </body>
</html>
{{end}}
